.container {
  width: 90%;
  max-width: 1200px;
  padding: 2em;
}
td {
  position: relative;
  width: 25%;
  max-width: 106px;
  text-align: center;
}
svg {
  min-height: 105px;
}
td:first-of-type>div {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 83%;
}
td:first-of-type>div iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
